@model WebAppPEOPLE.Net.Models.PeopleViewModel
@{
    ViewData["Title"] = "Person Index";
}
<h1>Person Index</h1>

<a asp-action="CreatePersonViewModel">CreatePersonViewModel</a>

<form asp-action=" Person Index" method="post">
    <label asp-for="FilterText"></label>
    <input asp-for="FilterText"/>
    <input type ="submit"  value="Filter by Name"/>

</form>

@*<table>
    <thead>
        <tr>

             <th>Name</th>
             <th>PhoneNumber</th>
             <th>City</th>
              <th>Delete</th>

            </tr>

           </thead>

           <tbody>
              @foreach (var item in Model)
                      {
                         <tr>
                             
                              <td>@item.Name</td>
                              <td>@item.PhoneNumber</td>
                               <td>@item.City</td>
                               <td><a asp-action="Remove" asp-route-id="@item.id">Remove</td>
                            </tr>
    }
           </tbody>

          </table>*@

